QMainWindow {
    background-color: #282c34;
    color: #abb2bf;
}

QLineEdit {
    background-color: #3e4451;
    color: #abb2bf;
    border: 2px solid #abb2bf;
    border-radius: 5px;
    padding: 5px;
}

QPushButton {
    background-color: #61afef;
    color: #fff;
    border: 2px solid #61afef;
    border-radius: 5px;
    padding: 5px 10px;
}

QPushButton:hover {
    background-color: #5b99d4;
    border: 2px solid #5b99d4;
}

QMenuBar {
    background-color: #282c34;
    color: #abb2bf;
    border: none;
}

QMenuBar::item {
    background-color: #282c34;
    color: #abb2bf;
    padding: 5px 10px;
}

QMenuBar::item:selected {
    background-color: #61afef;
}

QMenu {
    background-color: #282c34;
    color: #abb2bf;
    border: 1px solid #61afef;
}

QMenu::item {
    padding: 5px 30px;
}

QMenu::item:selected {
    background-color: #61afef;
    color: #fff;
}

QListView {
    background-color: #3e4451;
    color: #abb2bf;
    border: 2px solid #abb2bf;
    border-radius: 5px;
    padding: 5px;
}

QListView::item:hover {
    background-color: #61afef;
    color: #fff;
}

QTabWidget::pane {
    background-color: #282c34;
    border: none;
}

QTabWidget::tab-bar {
    alignment: center;
}

QTabBar::tab {
    background-color: #282c34;
    color: #abb2bf;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 10px;
    min-width: 100px;
}

QTabBar::tab:selected {
    background-color: #61afef;
    color: #fff;
}

QTabWidget::tab:disabled {
    color: #555;
}

QPlainTextEdit {
    background-color: #3e4451;
    color: #abb2bf;
    border: 2px solid #abb2bf;
    border-radius: 5px;
    padding: 5px;
}
